/*
 * Globals : we use font-family: 'Open Sans', sans-serif;
 */

/* Links */
#home-index a,
#home-index a:focus,
#home-index a:hover {
    /*color: #fff;*/
}

.navbar-default {
    background-color: rgb(245, 245, 245) !important;
    font-weight: 200;
}

.navbar .navbar-brand {
    font-size: 19px !important;
}

.navbar a {
    font-size: 15px !important;
}

/*malarkey text styling
*/

h1{
    font-weight: 200;
}

#searchkey{
    clear: both;
    font-weight: 200;
}
#tested-GC{
    font-size: small;
}
#navigation{
    clear: both;
    font-weight: 200;
}
#roatation90 {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg); /* Standard syntax */
}
#cover-background{
    background-color: rgb(255, 255, 224);
}
.cover-panel-body {
    background:rgb(255, 255, 224);}
/* Custom default button */
/*.btn-default,*/
/*.btn-default:hover,*/
/*.btn-default:focus {*/
/*color: #333;*/
/*text-shadow: none; /!* Prevent inheritence from `body` *!/*/
/*background-color: #fff;*/
/*border: 1px solid #fff;*/
/*}*/


/*#login-btn*/
/*{*/
/*background-image: none;*/
/*padding: 23px; */
/*color: #777; */
/*z-index: +10; */
/*padding-top: 10px; */
/*position: relative;*/
/*top:16px;*/
/*left:80px;*/
/*visibility: visible !important;*/
/*}*/
#home-index .btn-default {
    background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%) !important;
    border: 0 !important; border-bottom-left-radius: 0 !important;; border-top-left-radius: 0 !important;
}


.myDiv {
    position: relative;
    background-color: #333;
}

.myDiv .bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*background: url(/public/images/biotechnology.jpg) center center;*/
    opacity: .4;
    width: 100%;
    height: 100%;
}

.myCarousel {
    position: relative;
    background-color: dimgray;
    z-index: 1;
}

.piesvg {
    width: 420px;
    height: 310px;
}
.btn-lg{
    z-index: 0;
    margin-left: 0px; 
    margin-top: -4%;
}

#aztec-malarkey {
    line-height: 1.2;
    display: inline-block;
    margin-bottom: 20px;
    color: #5690cb;
    width: 300px;
    text-align: left;
}
@media only screen and (max-width: 767px) {
    #aztec-malarkey {
        margin-bottom: 0;
        display: block;
        text-align: center;
        width: auto;
    }
}
#aztec-malarkey:after {
    -webkit-animation: cursor-blink 0.8s linear infinite;
    -moz-animation: cursor-blink 0.8s linear infinite;
    -o-animation: cursor-blink 0.8s linear infinite;
    animation: cursor-blink 0.8s linear infinite;
    content: "|";
    color: #5690cb;
    padding-left: 3px;
}
#aztec-malarkey.disabled:after {
    content: none;
}

.hero-spacer {
    margin-top: 50px;
}

.hero-feature {
    margin-bottom: 30px;
}
/*Carousel styling*/
.right.carousel-control, .left.carousel-control {
    opacity: 0;
    filter:alpha(opacity=0); /* IE support */
}
.btn-primary{
    color: white;
    text-transform: uppercase;
    background-color: #bbd2db;
    border-color: transparent;
    font-weight: 200;
}
.carousel-caption{
    font-weight: 200;
}
/*
 * Base structure
 */

html#home-index {
    overflow-x: hidden;
}

html#home-index,
#home-index body {
    height: 100%;
    /*background-color: #333;*/
    /*background-image: url(http://www.halland.com/wp-content/uploads/2013/11/biotechnology.jpg);*/

}
#home-index body {
    color: #fff;
    text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
#home-index .site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    /*text-shadow: 0 1px 3px rgba(0,0,0,.5);*/
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}

.masthead-nav > li {
    display: inline-block;
}
.masthead-nav > li + li {
    margin-left: 20px;
}
.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* IE8 proofing */
    color: rgba(255,255,255,.75);
    border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }
    .masthead-nav {
        float: right;
    }
}


/*
 * Cover
 */

.cover {
    padding: 0 20px;
}
.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
    color: #999; /* IE8 proofing */
    color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
    /* Pull out the header and footer */
    .masthead {
        position: fixed;
        top: 0;
    }
    .mastfoot {
        position: fixed;
        bottom: 0;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 992px) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 800px;
    }
}

.malarkey{
    color:red;
    font-family:monospace;
    font-size:100%;
}
.input-group-btn > .btn {
    border-left-width:0;left:-2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.input-group .form-control:focus {
    box-shadow:none;
    -webkit-box-shadow:none;
    border-color:#cccccc;
}

.bd2k-footer {
    margin:0; overflow-x: hidden
}