html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.container {
	background-color: #ffffff;
	/*border: 1px solid #ccc;
	padding: 20px;*/
	top: 2vh;
	/*-webkit-box-shadow: 0 2px 2px 1px rgba(0,0,0,0.2);
	box-shadow: 0 2px 2px 1px rgba(0,0,0,0.2);*/
}

.btn-group{
    bottom: 15px;
    position: relative;
    top: -15px;

}

.nav{
    height: 5vh;
}

.page-loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../images/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}

#overall{
    width: 100vw;
    height: 72vh;
    overflow: hidden;
  background-color: rgba(238,238,238,32);
}

.reg-h1{
	    font-size: 31px;
    /* line-height: 30px; */
    opacity: 0.92;
    color: rgba(51, 51, 51, 0.77);
    font-weight: 600;
    text-transform: uppercase;

}
.btn-primary{
        margin-top: 1%;
    }

/*@media (min-width: 768px){
    .reg-h1{
        margin-right: 4vw;
    }
    .btn-primary{
        margin-top: 1%;
    }
}

@media (min-width: 1280px){
        .reg-h1{
        margin-right: 30%;
    }

}

@media (min-width: 1440px){
        .reg-h1{
    margin-right: 33.2%;
        }

}

@media (min-width: 1680px){
        .reg-h1{
    margin-right: 37.2%;
            }

}

*/
.btn{
    border-color: rgba(0, 0, 0, 0.26);
    color: rgba(0, 0, 0, 0.54);
    background-color: rgba(255, 255, 255, 0.7);
}

.btn-primary{
	   color: #fff;
    background-color: #5A7B85;
     border-color: transparent;
    border-radius: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    /*width: 200px;*/
    outline: none;
    margin-left: 1%;
    width: 11%;
    height: 44px;
       /* width: 10%;
    outline: none;
        margin-left: 33%;
    height: 50%;
    margin-top: 1.8%;*/

}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
       color: #fff;
    background-color: #274852;
    border-color: transparent;
    outline: transparent;
        box-shadow: none;


}

.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
}
body{
	    font-family: 'Open Sans', sans-serif;
        background-color: rgba(238,238,238,32);
        background-image: none;
        padding-top: 0px;
       overflow-x: hidden;

}
h1 {
    font-weight: 100;
    font-size: 31px;
    /* align-content: center; */
    text-align: center;
    text-transform: uppercase;

}
h2{
    font-size: 1em;
    color: white;
    font-weight: 100;
}
pre{
    border: none;
    border-radius: 0px;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    white-space: inherit;
}
.breadcrumbs{
    padding-left: 5vw;
    padding-bottom: 0.7%;
    padding-top: 0.2vh;
    background-image: linear-gradient(#99C0CC 0px, #BBD2DB 100%);

}

.breadcrumbs a{
    color: white;
}

.col-md-7, .col-md-3 {
    height: 70vh;
    overflow: scroll;
    padding-top: 0vh;
    padding-bottom: 18vh;
}
.col-md-7{
  margin-left: 7vw;
    padding-left: 4vw;
    padding-right: 4vw;
}

.col-md-3{

    margin-left: 5vw;
    overflow: hidden;

}
::-webkit-scrollbar {
    display: none;
}
.tab-pane{
 height:460px;
  overflow-y:scroll;
  width:100%;
padding-bottom: 10vh;
}
.titlestuff{
    margin-left: 9%;
    width: 100vw;
    display: inline-flex;
}

.nav-tabs{
    border: none;
      text-transform: uppercase;
    font-weight: 100;
    font-size: 14px;
    margin-bottom: 1%;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border: none;
    background-color: #EEEEEE;
}

.nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    background-color: rgba(221,221,221,0.5);
    color: #000;
}

.nav-tabs>li>a {
    border-radius: 0px;
    color: #000;
}
a{
    color: white;
}
.tab-pane{
    padding-top: 5.5%;
}

.navbar-fixed-top{
    position: relative;
    margin-bottom: auto;
}
pre{
  cursor: pointer;
}
.btn:hover{
    background-color: white;
    color: black;
    outline: gray;
}

.btn:hover a{
    background-color: white;
    color: black;
    outline: gray;
}
.btn-success:hover{
      background-color: white;
    color: black;
    outline: gray;
    border-color: gray;
}

.btn-danger:hover{
background-color: white;
    color: black;
    outline: gray;
    border-color: gray;
}

tags-input .tags{
    display: block;
  width: 100%;
  height: 34px;
  font-size: 14px;
    line-height: normal;
    font-family: 'Open Sans', sans-serif;
  color: #555;
  background-color: #fff;
  background-image: none;vm.li
  border: 1px solid #ccc;
  border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

tags-input .tags:active, tags-input .tags.focused{
 border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.link-link{
    color: black;
}
.sum_{
     font-size: 1.2em;
    color: hsla(0,0%,0%,0.60);
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 3px;
}


#uploadBtn{
    width: 100%;
     color: #fff;
    background-color: #5A7B85;
     border-color: transparent;
    border-radius: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    /*width: 200px;*/
    outline: none;
    margin-left: 1%;
    height: 44px;
    margin-top: 5%
}
#uploaderSlct{
    font-weight: 100;
}

#suggestBtn{
    width: 100%;
}

.btn-file {
  position: relative;
  overflow: hidden;
  width: 100%
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;

}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
  height: 44px;
  margin-top: 0.4%;
}

.nav-tabs{
    font-size: 1vw;
}
#pdf-data{
border: 1px solid #D8D8D8;
margin-top: 6%;
visibility: collapse;
}
.pdf-name{
  /* Publication Title: */
font-weight: 100;
font-size: 17px;
text-transform: none;
}
.pdf-nm-dt{
  font-weight: 100;
}
#ld-img{
  visibility: collapse;
}

#load-image{
  padding-top: 10%;
  width: 20%;
}

.suggestions{
  padding-top: 3%;
  font-weight: 100;
  visibility: collapse;
}

.pub-title{
  /* Publication Title: */
font-weight: 100;
font-size: 17px;
color: #000000;
line-height: 23px;
text-align: center;
padding-top: 2%;
}

.pub-rect{
  /* Rectangle 2: */
  border: 1px solid #D8D8D8;
  padding: 2%;
  text-align: center;
  font-weight: 100;
}

.ion-ios-copy-outline{
  padding-left: 1%;
    padding-right: 1%;
    /* width: 127%; */
    /* height: 90%; */
    cursor: pointer;
    z-index: 1000;
}

.ion-ios-copy-outline:hover{
    border: 1px solid #D8D8D8;
    padding-left: 5px;

}

#invalidSuggestion{
  font-weight: 100;
}
