#login{
	padding: 5px;
}
#signup{
	padding: 5px;
}
.modal-backdrop {
  z-index: -1;
}
.modal-title{
	font-weight: 200;
    font-size: 24px;
}
/* have ids for form groups
and make their font weight 100*/
#email-form , #name-form{
	font-weight: 200;
}
#pass-form{
	font-weight: 200;
}
#submit-btn{
	margin-left: 490px;
}
label{
	font-weight: 200;
}
.modal-header{
	text-align: center;
}
.navbar
{
	font-weight: 200;
}
#modal-h4{
	font-size: 14px;
    text-align: center;
}
#hide-signup{
	visibility: hidden;
}
#create-AC-btn{
	margin-left: 443px;
}

body { 
	padding-top: 70px; 
	background-image:linear-gradient(#99C0CC 0px, #BBD2DB 100%);

}

#aztecimg{
	margin-right: 38vw;
	margin-top: 10vh;
}


.cover-heading{
	color: white; 
	font-weight: 200;
    margin-top: -10vh;
    padding-left: 16vw;
    margin-bottom: 10px;
    font-size: 48px;
    font-family: 'Open Sans', sans-serif;
}

#indexcontainer{
	background-color: #5A7B85;
    margin-top: 10vh;
    height: 45vh;
    width: 100vw;
}

#indexcontainer h3{
	padding-top: 3vh;
	color: white;
	font-weight: 100;
	font-family:  'Open Sans', sans-serif;
}
