<!DOCTYPE html>
<html>
<head>
    <title>AZTEC - Changelog</title>

    <script src="/public/js/jquery-2.1.4.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="/public/css/sticky-footer.css" rel="stylesheet">
    <link href="/public/css/bd2k.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <script src="/public/viewmodels/resource/create-viewmodel.js"></script>
    <script src="/public/js/bd2k.js"></script>

</head>

<body style="font-family: 'Open Sans', sans-serif; background-image: linear-gradient(#99C0CC 0px, #BBD2DB 100%);">
<div class="row" style="padding-bottom: 4em">
    <%- include ../shared/header.ejs %>
</div>

<div class="row" style="padding-bottom: 4em">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 ">
        <div class="text-left">
            <h1 id="title" style="color:white"> <img border="0" src="/public/images/bd2k.png" width="200" style="margin-bottom:30px">&nbsp;&nbsp;&nbsp;&nbsp;Changelog </h1>

            <table class="TFtable">
                <tr><td align="center"><b><i>Date</i></b></td><td align="center"><b><i>Description</i></b></br></br></td></tr>
                <tr><td align="center">June 17, 2016</td><td align="left">
                  <ul>
                    <li type="square">
                      The homepage has been redesigned to include an overview of Aztec, as well as visualizations of statistics related to resources in Aztec's database.
                    </li>
                    <li type="square">
                      The resource submission page has been redesigned for easier navigation and intuitive organization.
                    </li>
                    <li type="square">
                      The resource metadata page has been redesigned for better user-experience; metadata is grouped into sections and important metadata is prioritized to show on the top of the page.
                    </li>
                  </ul>
                </td></tr>

            </table>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>

<%- include ../shared/footer.ejs %>
</body>
</html>

<html>

<body>
</body>
</html>
