<!DOCTYPE html>
<html lang="en" id="home-index">
<head>
    <title>AZTEC</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/css/cover.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <script src="/public/js/jquery-2.1.4.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/malarkey.js"></script>
    <script src="/public/js/home.js"></script>
    <script src="/public/js/bd2k.js"></script>
    <script src="/public/js/queue.v1.min.js"></script>
    <script src="/public/js/d3.min.js"></script>
    <script src="/public/js/pieCharts.js"></script>
    <script src="/public/js/bubbles.js"></script>
    <%- include ../shared/analytics.ejs%>
    <script src="/public/js/typeahead.js"></script>
    <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet">
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/public/css/twitter-typeahead-index.css">

    <script>
        (function(w,d,s,g,js,fs){
            g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(f){this.q.push(f);}};
            js=d.createElement(s);fs=d.getElementsByTagName(s)[0];
            js.src='https://apis.google.com/js/platform.js';
            fs.parentNode.insertBefore(js,fs);js.onload=function(){g.load('analytics');};
        }(window,document,'script'));
    </script>

    <script>
        // dashboard-components js script
        gapi.analytics.ready(function() {

            /**
             * Authorize the user with an access token obtained server side.
             */
            gapi.analytics.auth.authorize({
                'serverAuth': {
                    'access_token': '<%- authorizationToken -%>'
                }
            });


            /**
             * Creates a new DataChart instance showing sessions over the past 30 days.
             * It will be rendered inside an element with the id "chart-1-container".
             */
            var dataChart1 = new gapi.analytics.googleCharts.DataChart({
                query: {
                    'ids': 'ga:111291353', // AZtec view.
                    'start-date': '30daysAgo',
                    'end-date': 'yesterday',
                    'metrics': 'ga:sessions,ga:users',
                    'dimensions': 'ga:date'
                },
                chart: {
                    'container': 'chart-1-container',
                    'type': 'LINE',
                    'options': {
                        'width': '100%'
                    }
                }
            });
            dataChart1.execute();


            /**
             * Creates a new DataChart instance showing top 5 most popular demos/tools
             * amongst returning users only.
             * It will be rendered inside an element with the id "chart-3-container".
             */
            var dataChart2 = new gapi.analytics.googleCharts.DataChart({
                query: {
                    'ids': 'ga:111291353', // AZtec view.
                    'start-date': '30daysAgo',
                    'end-date': 'yesterday',
                    'metrics': 'ga:pageviews',
                    'dimensions': 'ga:pagePathLevel1',
                    'sort': '-ga:pageviews',
                    'filters': 'ga:pagePathLevel1!=/',
                    'max-results': 7
                },
                chart: {
                    'container': 'chart-2-container',
                    'type': 'PIE',
                    'options': {
                        'width': '100%',
                        'pieHole': 4/9,
                    }
                }
            });
            dataChart2.execute();

        });
    </script>

    <script>
        BD2K.ready(function(){
            pie_charts_repos_omics();
            TagBubbles();
            PlatformBubbles();
            $("#liHome").addClass("active");
        });
    </script>

    <script>
        var suggestions = [];
        BD2K.ready(function() {
            var substringMatcher = function (strs) {
                return function findMatches(q, cb) {
                    var matches, substringRegex;

                    // an array that will be populated with substring matches
                    matches = [];

                    // regex used to determine if a string contains the substring `q`
                    substrRegex = new RegExp(q, 'i');

                    // iterate through the pool of strings and for any string that
                    // contains the substring `q`, add it to the `matches` array
                    $.each(strs, function (i, str) {
                        //  if (substrRegex.test(str)) {
                        console.log("push: " + str);
                        matches.push(str);
                        //  }
                    });

                    cb(matches);
                };
            };

            $('#autocomplete .input-lg').typeahead({
                        hint: true,
                        highlight: true,
                        minLength: 1
                    },
                    {
                        name: 'resources',
                        limit: 50,
                        async: true,
                        templates: {
                            header: '<h3 class="header"><strong>Resources</strong></h3>'
                        },
                        source: function (query, processSync, processAsync) {
                            query = query.split(" ");
                            new_query = "";
                            for(var i = 0; i < query.length; i++){
                                if(query[i].length == 0)
                                {
                                    continue;
                                }
                                new_query += query[i]
                                if(i < query.length-1)
                                {
                                    new_query += "+";
                                }
                            }
                            console.log("new_query: " + new_query);
                            json_query = {};
                            json_query["searchFilters"] = {};
                            json_query["searchFilters"]["resource"] = new_query;
                            json_query["searchFilters"]["searchType"] = "resources"
                            return $.ajax({
                                url: "/resource/autocomplete",
                                type: "GET",
                                data: json_query,//"input=%7B\"searchFilters\"%3A%7B\"resource\"%3A\""+new_query+"\"%7D%7D",
                                success: function(data) {
                                    console.log("data: " + data);
                                    return processAsync(JSON.parse(data).slice(0,7));
                                    // return data;
                                }
                            });
                        }
                    },
                    {
                        name: 'tags',
                        limit: 50,
                        async: true,
                        templates: {
                            header: '<h3 class="header"><strong>Tags</strong></h3>'
                        },
                        source: function (query, processSync, processAsync) {
                            query = query.split(" ");
                            new_query = "";
                            for(var i = 0; i < query.length; i++){
                                if(query[i].length == 0)
                                {
                                    continue;
                                }
                                new_query += query[i]
                                if(i < query.length-1)
                                {
                                    new_query += "+";
                                }
                            }
                            console.log("new_query: " + new_query);
                            json_query = {};
                            json_query["searchFilters"] = {};
                            json_query["searchFilters"]["resource"] = new_query;
                            json_query["searchFilters"]["searchType"] = "tags"
                            return $.ajax({
                                url: "/resource/autocomplete",
                                type: "GET",
                                data: json_query,//"input=%7B\"searchFilters\"%3A%7B\"resource\"%3A\""+new_query+"\"%7D%7D",
                                success: function(data) {
                                    console.log("data: " + data);
                                    return processAsync(JSON.parse(data).slice(0,3));
                                    // return data;
                                }
                            });
                        }
                    });

        });

    </script>

</head>
<body style="font-family: 'Open Sans', sans-serif;">


<div class="visible-xs visible-sm" style="color:black;">
    Mobile Version Coming Soon...
</div>
<div class="hidden-xs hidden-sm" style="height:100%">
    <div class="site-wrapper">
        <!--<div class="site-wrapper-inner myDiv" style="background-color: #BBD2DB">-->
        <div class="site-wrapper-inner myDiv" style="background-image: linear-gradient(#99C0CC 0px, #BBD2DB 100%) ">
            <div class="cover-container">
                <%- include ../shared/header.ejs %>
                <div class="inner cover">
                    <table>
                        <tr>
                            <td>
                                <img border="0" src="/public/images/bd2k.png" width="300">
                            </td>
                            <td>
                                <h1 class="cover-heading"><span>AZ<span style="font-size: 80%">TEC</span></span> is <span id="aztec-malarkey"></span>
                            </td>
                        </tr>
                    </table>
                    </h1>
                    <br><br>
                    <p class="lead" id="searchkey" >Search Resources by Name, DOI, Description, Tags, or Authors.</p>
                    <form class="form-horizontal" role="form" action="/resource/search" method="GET" id="submitForm">
                        <div align="middle" class="input-group add-on form-group" style="margin:auto">
                            <!--col-sm-10 col-sm-offset-1-->
                            <div id="autocomplete">
                                <input type="text" class="form-control input-lg" placeholder="Search" style="color:black;position:relative;" id="query" autocomplete="off">
                            </div>
                            <div class="input-group-btn">
                                <button class="btn btn-default btn-lg" type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                        <input type="hidden" id="sendJson" name="input">
                    </form>
                    <div class="col-xs-8 col-xs-offset-2">
                        <div class="list-group" id="results"></div>
                    </div>

                    <p class="lead" id="tested-GC">Thoroughly tested on Google Chrome.</p>
                </div>
            </div>


        </div>
    </div>
</div>
<div class="row text-center" style="margin-top:25px; margin-left:20px; margin-right:20px; color:#000">

    <div class="col-md-4 col-sm-6 hero-feature">

        <div>
            <h1> <i class="fa fa-road" style="color:lightslategray"></i>&nbsp;Site Traffic</h1>
        </div>
        <div id="chart-1-container" class="panel panel-default" style="width:100%; height:360px;">
        </div>

    </div>

    <div class="col-md-4 col-sm-6 hero-feature">
        <div>
            <h1> <i class="fa fa-bar-chart" style="color:lightslategray"></i>&nbsp;Statistics</h1>
        </div>
        <div class="panel panel-default" style="height:360px">

            <blockquote>
                <p id="statisticsBox" style="margin:8px" align="left">
                    5431 <b>resources</b> <br><br>
                    on 48 <b>platforms</b> <br><br>
                    in 7 <b>domains</b><br><br>
                    with 2242 <b>tags</b><br><br>
                </p>
            </blockquote>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 hero-feature">

        <div>
            <h1> <i class="fa fa-fire" style="color:lightslategray"></i>&nbsp;Most Popular Tools</h1>
        </div>
        <div id="chart-2-container" class="panel panel-default" style="width:100%; height:360px;">
        </div>
    </div>

</div>
<div class="row text-center" style="color:black; margin-top:25px; margin-left:20px; margin-right:20px; color:#000">

    <div class="col-md-4 col-sm-6 hero-feature">
        <div>
            <h1> <i class="fa fa-laptop" style="color:lightslategray"></i>&nbsp;Platforms</h1>
        </div>
        <div id="platformBubbles" class="panel panel-default" style="min-width:100%; height:360px; max-width:none;">
        </div>
    </div>


    <div class="col-md-4" style="font: 14px sans-serif;">
        <div>
            <h1> <i class="fa fa-tags" style="color:lightslategray"></i>&nbsp;Tags</h1>
        </div>
        <div id="tagBubbles" class="panel panel-default" style="min-width:100%; height:360px; max-width:none;">
        </div>
    </div>


    <div class="col-md-4">
        <div>
            <h1> <i class="fa fa-database" style="color:lightslategray"></i>&nbsp;Repositories</h1>
        </div>
        <div id="chart_repos_omics" class="panel panel-default" style="min-width:100%; height:360px; max-width:none;">
        </div>
    </div>

</div>
<%- include ../shared/footer.ejs %>
</div>

</body>
</html>