<!DOCTYPE html>
<html>
<head>
  <title>AZTEC - Overview</title>

  <script src="/public/js/jquery-2.1.4.js"></script>
  <script src="/public/js/bootstrap.min.js"></script>
  <link href="/public/css/bootstrap.min.css" rel="stylesheet">
  <link href="/public/css/info.css" rel="stylesheet">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href="/public/css/sticky-footer.css" rel="stylesheet">
  <link href="/public/css/bd2k.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
  <script src="/public/viewmodels/resource/create-viewmodel.js"></script>
  <script src="/public/js/bd2k.js"></script>

</head>

<body style="font-family: 'Open Sans', sans-serif; background-image: linear-gradient(#99C0CC 0px, #BBD2DB 100%);">
<div class="row" style="padding-bottom: 4em">
  <%- include ../shared/header.ejs %>
</div>

<div class="row" style="padding-bottom: 2em">
  <div class="col-md-2">
  </div>
  <div class="col-md-8 ">
    <div class="text-left">
      <h1 id="title" style="color:white"> <img border="0" src="/public/images/bd2k.svg" width="200" height="200">&nbsp;&nbsp;&nbsp;&nbsp;Overview </h1>

      <p align="justify" class="lead" style="clear:both; font-weight:600; color: white;">
        BD2K Aztec is an amalgamation of A to Z technology. The emblem of our service is a Mesoamerican step pyramid. These ancient structures reached great heights because they were built from the bottom up, so that each block was supported by a massive underlying layer of stone. Similarly, modern biomedicine relies on a enormous infrastructure of computational tools, and the apex of the pyramid represents its ultimate goal: successful investigations leading to novel biological insights and enhanced clinical therapies.
      </p>
      <p align="justify" class="lead" style="clear:both; font-weight:600; color: white;"">
        BD2K Aztec is a global biomedical resource discovery index that allows users to simultaneously search a diverse array of tools. The resources indexed include web services, standalone software, publications, and large libraries composed of many interrelated functions. Aztec will ensure that software tools remain findable in the long term by issuing persistent DOIs and routinely updating metadata for the entire index. Aztec’s established ontologies and robust API support the programmatic query of its entire database, as well as the construction of indexes for specialized subdomains. Aztec fosters an environment of sustainable resource support and discovery, empowering researchers to overcome the challenges of information science in the 21st century.
      </p>
    </div>
  </div>
  <div class="col-md-2">
  </div>
</div>

<%- include ../shared/footer.ejs %>
</body>
</html>

<html>

  <body>
     </body>
</html>
