<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>Reset Password</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <style>
        html{
            min-height:100%;/* make sure it is at least as tall as the viewport */
            position:relative;
        }
        body{
            height:100%; /* force the BODY element to match the height of the HTML element */
            padding-top:80px;
        }
        #back-container{
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
            overflow:hidden;
            z-index:-1; /* Remove this line if it's not going to be a background! */
        }
    </style>

    <script type="text/javascript">

        function checkForm(form)
        {
            if(form.new.value != "") {
                if(form.new.value !== form.new2.value){
                    alert("Error: Passwords must be equivalent");
                    form.new.focus();
                    return false;
                }
                if(form.new.value.length < 6) {
                    alert("Error: Password must contain at least six characters!");
                    form.new.focus();
                    return false;
                }
            } else {
                alert("Error: Please check that you've entered and confirmed your password!");
                form.new.focus();
                return false;
            }

            form.email.value = '<%- email %>';
            form.token.value = '<%- token %>';
            return true;
        }

    </script>
</head>
<body style="font-family: 'Open Sans', sans-serif;">
<%- include ../shared/header.ejs %>
<div id="back-container" style="background-image: linear-gradient(#99C0CC 0px, #BBD2DB 100%);">
    <div class="container"  style="padding-top:80px">

        <div class="col-sm-6 col-sm-offset-3">

            <h1>Reset Password</h1>

            <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
            <% } %>

            <!-- LOGIN FORM -->
            <form action="/home/resetPassword" method="post"  onsubmit="return checkForm(this);">
                <div class="form-group">
                    <label>New Password</label>
                    <input type="password" class="form-control" name="new">
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control" name="new2">
                </div>
                <input type="hidden" class="form-control" style="visibility: hidden" name="email">
                <input type="hidden" class="form-control" style="visibility: hidden" name="token">

                <button type="submit" class="btn btn-warning btn-lg">Change Password</button>
            </form>

        </div>
    </div>
</div>
</body>
</html>