<!DOCTYPE html>
<html>
<head>
  <title>AZTEC - Sources</title>

  <script src="/public/js/jquery-2.1.4.js"></script>
  <script src="/public/js/bootstrap.min.js"></script>
  <link href="/public/css/bootstrap.min.css" rel="stylesheet">
  <link href="/public/css/info.css" rel="stylesheet">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href="/public/css/sticky-footer.css" rel="stylesheet">
  <link href="/public/css/bd2k.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
  <script src="/public/viewmodels/resource/create-viewmodel.js"></script>
  <script src="/public/js/bd2k.js"></script>

</head>

<body style="font-family: 'Open Sans', sans-serif; background-image: linear-gradient(#99C0CC 0px, #BBD2DB 100%);">
<div class="row" style="padding-bottom: 4em">
  <%- include ../shared/header.ejs %>
</div>

<div class="row" style="padding-bottom: 4em">
  <div class="col-md-2">
  </div>
  <div class="col-md-8 ">
      <div class="text-left">
          <h1 id="title" style="color:white"> <img border="0" src="/public/images/bd2k.svg" width="200" height="200">&nbsp;&nbsp;&nbsp;&nbsp;Sources </h1>

            <table class="TFtable">
              <tr><td align="center"><b><i>NIH BD2K ADDS NIH</i></b></td><td align="left">
                  11 Centers of Excellence for Big Data Computing <br>
                  9 Data Discovery Index Programs <br>
                  22 Enhancing Training Programs <br>
                  15 Targeted Software Development Programs <br>
                  All other relevant NIH Programs
                </td></tr>
              <tr><td align="center"><b><i>Scientific Literature</i></b></td><td align="left">
                  PubMed <br>
                  Europe PubMed Central <br>
                  Google Scholar <br>
                  ISI Web of Science
                </td></tr>
              <tr><td align="center"><b><i>Author Submissions</i></b></td><td align="left">
                  Author-Initiated Submissions <br>
                  Aztec-Invited Submissions
                </td></tr>
              <tr><td align="center"><b><i>Federated Global Resources</i></b></td><td align="left">
                  BioCatalogue <br>
                  BioConductor <br>
                  BioJS <br>
                  Elixir <br>
                  Galaxy
                </td></tr>
            </table>
        </div>
      <div class="col-md-2">
      </div>
      </div>
</div>

<%- include ../shared/footer.ejs %>
</body>
</html>

<html>

  <body>
     </body>
</html>
