<!DOCTYPE html>
<html>
<head>
    <title>aztec - Added</title>
    <script src="/public/js/jquery-2.1.4.js"></script>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="/public/css/sticky-footer.css" rel="stylesheet">
    <link href="/public/css/bootstrap.css" rel="stylesheet">
    <link href="/public/css/info.css" rel="stylesheet">

    <link href="/public/css/cover.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>

    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/d3.js"></script>
    <script src="/public/js/bd2k.js"></script>
    <script src="/public/js/info.js"></script>
    <script src="/public/viewmodels/resource/search-viewmodel.js"></script>
    <script>
        function redirect(){

            // Your application has indicated there's an error
            window.setTimeout(function(){

                // Move to a new location or you can do something else
                window.location.href = "/";

            }, 2000);

        }
    </script>
</head>

<body onload="redirect()" style="font-family: 'Open Sans', sans-serif;">
<div class="alert alert-success">
    <strong>Success!</strong> Redirecting you to the home page in 2 seconds.
</div>
</body>