<!DOCTYPE html>
<html>
<head>
  <title>AZTEC - Technologies</title>

  <link href="/public/css/info.css" rel="stylesheet">
  <link href="/public/css/sticky-footer.css" rel="stylesheet">
  <link href="/public/css/bd2k.css" rel="stylesheet">
  <script src="/public/viewmodels/resource/create-viewmodel.js"></script>
  <%- include ../shared/scripts.ejs%>
  <style>
    .TFtable td{
      white-space:normal;
    }
  </style>
</head>

<body style="font-family: 'Open Sans', sans-serif; background-image: linear-gradient(#99C0CC 0px, #BBD2DB 100%);">
<div class="row" style="padding-bottom: 4em">
  <%- include ../shared/header.ejs %>
</div>

<div class="row" style="padding-bottom: 4em">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <div class="text-left">
      <h1 id="title" style="color:white"> <img border="0" src="/public/images/bd2k.png" width="200" style="margin-bottom:30px">&nbsp;&nbsp;&nbsp;&nbsp;Technologies </h1>

      <table class="TFtable">
        <tr><td align="center" colspan="2" style="font-size: 18px"><b><i>Backend Databases and Web Service</i></b></td></tr>
        <tr><td align="left" style="width:20%">MySQL</td><td align="left" style="width:80%">A relational database management system that executes SQL commands. The resource information is stored in structured schemas that are created in advance to preserve the data integrity.</td></tr>
        <tr><td align="left">Solr (Apache Lucene)</td><td align="left">A reliable and scalable search platform that enables Aztec to set different priorities to searchable fields, and allows users to search by filters or search by faceting.</td></tr>
        <tr><td align="left">MongoDB</td><td align="left">A NoSQL database is used to store resource statistics, search statistics, and search histories. Its flexible and scalable operations speed up the front-end delivery for a smoother interface.</td></tr>
        <tr><td align="left">Neo4j</td><td align="left">A graph database that uses the cypher query language to display relationships between objects. It provides a graphical presentation of the workflow among software tools.</td></tr>
        <tr><td align="left">Amazon EC2</td><td align="left">The web application is hosted on Amazon Web Services (AWS). AWS provides a flexible computational capacity by simply increasing the computing power of the EC2 instance if needed.</td></tr>
      </table>
      <br>
      <table class="TFtable">
        <tr><td align="center" colspan="2" style="font-size: 18px"><b><i>Front-end Interfaces</i></b></td></tr>
        <tr><td align="left" style="width:20%">REST API</td><td align="left" style="width:80%">Provides a programmatic interface that allows an easy integration of the web application data.</td></tr>
        <tr><td align="left">D3</td><td align="left">A JavaScript graphing library that integrates HTML, SVG, and CSS to create an interactive graphical visualization. It is mainly used to display the statistics of Aztec resources.</td></tr>
      </table>
      <br>
      <table class="TFtable">
        <tr><td align="center" colspan="2" style="font-size: 18px"><b><i>General</i></b></td></tr>
        <tr><td align="left" style="width:20%">Nodejs</td><td align="left" style="width:80%">A lightweight JavaScript platform to create a fast and scalable application. It is used as the backbone and framework for Aztec to connect the front-end to the back-end and expose web service endpoints.</td></tr>
        <tr><td align="left">MVC Design Pattern</td><td align="left">The development of user interface follows the Model-View-Controller paradigm. The separation of model, view, and controller further facilitates Agile programming among developers.</td></tr>
      </table>
    </div>
  </div>
  <div class="col-md-2">
  </div>
</div>

<%- include ../shared/footer.ejs %>
</body>
</html>

<html>

<body>
</body>
</html>
