
<div class="row bd2k-footer">
    <div class="col-lg-12 text-center" style="padding-top: 10px; padding-bottom: 10px; border: 0px solid black; background-color: rgb(245, 245, 245);">
        <div class="row" style="padding-top: 2px">
            <div class="col-lg-12 text-center">
                <span class="" style="color: darkgrey;font-size:14px"><img src="../../public/images/nih_icon_2.svg" width="50px"></img>&nbsp;&nbsp;BD2K AZ<span style="font-size: 90%">TEC</span> is supported by the NIH Big Data to Knowledge award U54 GM114833.</span>
            </div>
        </div>
        <div class="row" style="padding-top: 5px">
            <div class="col-lg-4 text-center">
                <a href="https://datascience.nih.gov/bd2k"><span class="" style="margin-top: 20px; color: rgb(119, 119, 119); font-size: 13px"><i class="fa fa-flask"></i> NIH</span></a>
            </div>
            <div class="col-lg-4 text-center">
                <a href="https://groups.google.com/forum/#!forum/bd2k-aztec"><span class="" style="margin-top: 20px; color: rgb(119, 119, 119); font-size: 13px"><i class="fa fa-bug"></i> Bug Reports and Suggestions</span></a>
            </div>
            <div class="col-lg-4 text-center">
                <a href="https://twitter.com/nih_bd2k"><span class="" style="margin-top: 20px; color: rgb(119, 119, 119); font-size: 13px"><i class="fa fa-twitter"></i> Connect</span></a>
            </div>
        </div>
    </div>
</div>
