<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style="padding-left:2em">AZ<span style="font-size: 80%;">TEC</span></a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav" style="margin: 0;padding: 0px 15px;">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/home/overview">Overview</a></li>
                        <li><a href="/home/metadata">Metadata</a></li>
                        <li><a href="/home/technologies">Technologies</a></li>
                        <li><a href="/home/sources">Sources</a></li>
                    </ul>
                </li>
                <li id="liAdvanced"><a href="/resource/advanced">Advanced Search</a></li>
                <li id="liRegister"><a href="/review/form">Register Resource</a></li>
                <% if(loggedIn) {%>
                <li id="liReview"><a href="/review/index">Review</a></li>
                <% } %>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Links<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://heartbd2k.org">HeartBD2K</a></li>
                        <li><a href="https://bd2kccc.org">BD2K Centers-Coordination Center</a></li>
                        <li><a href="https://datascience.nih.gov/bd2k">NIH BD2K Initiative</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right" style="float:right">
                <% if(loggedIn) {%>
                <ul class="nav navbar-nav navbar-right" style="margin: 0;padding: 0px 15px;">
                    <li> <a href="/home/profile" id="profile-btn" class="navbar-nav"><span class="fa fa-user"> <%- user.firstName %></a> </li>
                    <li> <a href="/home/logout" id="logout-btn" class="navbar-nav">Log Out</a> </li>
                </ul>
                <% } else { %>
                <ul class="nav navbar-nav navbar-right" style="margin: 0;padding: 0px 15px;">
                    <li> <a href="/home/login" id="login-btn" class="navbar-nav"><span class="fa fa-user"></span>Login</a> </li>
                    <li> <a href="/home/signup" id="login-btn" class="navbar-nav">Signup</a> </li>
                </ul>
                <% } %>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>
