<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid" style="margin:0; margin-left: 9em; margin-right: 20em">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="/">AZ<span style="font-size: 80%">TEC</span></a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/home/overview">Overview</a></li>
                        <li><a href="/home/metadata">Metadata</a></li>
                        <li><a href="/home/technologies">Technologies</a></li>
                        <li><a href="/home/sources">Sources</a></li>
                    </ul>
                </li>
                <li id="liAdvanced"><a href="/resource/advanced">Advanced Search</a></li>
                <li id="liRegister"><a href="/tool/create">Register New Resource</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Related Links<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://bd2kcc.org">BD2K Coordination Center</a></li>
                        <li><a href="https://datascience.nih.gov/bd2k">NIH BD2K Initiative</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right" style="float:right">
                <li> <a href="/home/login" id="login-btn" class="navbar-nav pull-right"><span class="fa fa-user"></span>Login</a> </li>
                <li> <a href="/home/signup" id="login-btn" class="navbar-nav pull-right">Signup</a> </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>